body {
  background-color: palegoldenrod;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 60px 0;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.5;
}

.time {
  font-size: 50px;
  font-weight: bold;
}

.time small {
  font-size: 16px;
  vertical-align: middle;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 38px;
}

footer {
  text-align: center;
}
